<a href="https://colab.research.google.com/github/soumyakandari/ML.NOW/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date Created on :  23rd May     
AUTHOR : [Soumya](https://github.com/soumyakandari)

## **PROBLEM STATEMENT**
Train a model to learn the table of 10 

 Equation : `y=10X`




**DATA** **CREATION**

 Equation : 
`
y=10X`
Data set

Target -->
```
xtrain= [0,1,2,3....]
ytrain =[0,10,20,30..]
```

In [5]:
 xtrain = [ i for i in range(21) ] #list comprehesnion
print(xtrain)

ytrain = [ i*10 for i in range(21)]
print(ytrain)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]